<!-- <div fxLayout="row" fxLayoutAlign="start none" fxFill>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-action-list>
      <button mat-list-item class="mat-gray-A100"> Profile </button>
      <button mat-list-item class="mat-gray-A100"> ABC </button>
    </mat-action-list>
  </div> 
</div> -->
<div class="mat-card mat-bg-transparent mat-light mat-elevation-z0" color="primary">
  <mat-card-header>
    <mat-card-title>
      <div fxLayout="column" fxLayoutAlign="start center">
        <span class="mat-display-1" [style.margin-bottom]="0">Tai Tran</span>
        <span class="mat-h4">(Tyron)</span>
      </div>
    </mat-card-title>
    <mat-card-subtitle class="mat-light">
      <div fxLayout="column" fxLayoutAlign="start center">
        <span>FullStack Software Engineer</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <a mat-button routerLink="./about">About</a>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions class="mat-light">
    <div fxLayout="row" fxLayoutAlign="center center">
      <a mat-icon-button href="https://github.com/taitrd" target="_blank"><i class="fab fa-github fa-2x"></i></a>
      <a mat-icon-button href="https://www.linkedin.com/in/tai-tran-0b68a9187/" target="_blank"><i
          class="fab fa-linkedin fa-2x"></i></a>
      <a mat-icon-button href="mailto:t4itran@gmail.com"><i
        class="far fa-envelope fa-2x"></i></a>
      <a mat-icon-button href="https://www.freelancer.com/u/nhotsodeep" target="_blank" 
      class="mat-bg-light freelancer-icon"></a>
    </div>
  </mat-card-actions>
</div>