<div fxLayout="column">
  <div class="mat-card mat-bg-transparent mat-elevation-z0">
    <mat-card-header>
      <mat-card-title>
        <div fxLayout="row" fxLayoutAlign="start center" class="mat-h1">
          <a mat-icon-button routerLink="/"><span class="material-icons">arrow_back</span></a>
          <span class="">About Me</span>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" class="mat-h4">
        <div fxFlex>
          <mat-card>
            <mat-card-content>
              <p>In software career path, programming languages or frameworks are tool.
                Good user experience and properly built architecture are important to making high quality software.
                Building stable, efficient, and resuable functionality is my top priority.</p>
              <p>My strongest and favorite position is backend and i also keep learning and support another one when team needs.</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </div>
</div>
